/* HEADER */
.header__container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #5a5e75;
}

.header__container h1 {
    font-family: var(--sixty-font);
    font-size: 1.5rem;
    background: linear-gradient(to top, #1F214D, #50366F,#bd93f9,#50fa7b,#aefdc2);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* FIM HEADER */ 

@media screen and (max-width: 390px){
    .header__container{
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    .header__container h1{
        font-size: 2rem;
    }
}